

.bullets ul li, .bullets h4 {
   text-align: left ! important;
   clear:both;
}

.bullets ul {
  float:left;
  clear:both;
  margin-bottom: 40px !important;
  margin-left:20px;
}

.bullets h4 {
    margin-bottom: 5px !important;
}

li {
  padding:7px;
}

